@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  background: #EEEEF0;
}

a,a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  color:rgb(135, 135, 135);
}


button {
  cursor: pointer;
  border: none;
}

:active,:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid #EEEEF0;  /* отступ вокруг бегунка */
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #EEEEF0;        /* цвет зоны отслеживания */
}

.field {
  width: 50%;
  padding: 0;
  border-width: 0px;
  height: 42px;
  padding-left: 16px;
  box-sizing: border-box;
  position: relative;
  border-radius: 35px;
  background: #F7F7F7;
}